@charset "utf-8";
/* CSS Document */


body{
	font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  background-color: #f0f0f0;
		height:100vh;
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
}
#header{
	width: 100%;
	height: 120px;
	background-color: #7D7777;
	position: relative;
    margin: 0;
	
}
#im{
padding-left: 30px;
	float: left;

}

#ico a {
	padding-left: 10px;
	padding-top: 45px;
    color: #000000;
	display: inline;
}
h1{
	z-index: 1;
	color:#12568E;
	
	font-family:arizonia;
	font-size: 50px;
}
h2{
	color:black;
	font-size:20px;
	padding-right: 15px;
}